div {
    padding:1%;
    margin-bottom: 1%;
    .candidateDetails{
        background: lightgreen;
        border-radius: 10px;
    }
    .createcandformfield{
        border-radius: 10px;
        border:1px solid black;
        padding:1%;
    }
}