mat-toolbar{
    background-color: rgb(7, 21, 148);
    color:#fff;
    box-shadow: 0 10px 10px rgba(165, 164, 164, 0.404),0 0 10px rgba(160, 159, 159, 0.452);
    justify-content: space-between;
}
div{
    padding:2%;
}